@import url("styleReset.css");
@import url("animations.css");
@import url("common.css");
@import url("global.css");

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--mainColor);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

body>div {
    color: var(--fontLight);
    margin-top: var(--lgPadding);
    padding: var(--lgPadding);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
    background-color: var(--accentColor2);
    border-radius: var(--roundBorder);
}

body>div>#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body>div>#header>* {
    margin: var(--smPadding);
}

body>div>#selectButtons {
    display: flex;
    flex-direction: row;
    gap: var(--medPadding);
    justify-content: center;
    align-items: center;
}

body>div>#selectButtons>div {
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
}

body>div>#selectButtons>div>h4 {
    margin: auto;
}

body>div>#selectButtons>div>div {
    display: flex;
    flex-direction: row;
    padding: 0 var(--smPadding);
    gap: var(--smPadding);
    align-items: center;
    justify-content: center;
    width: 100%;
}

body>div>#selectButtons>div>div>.playerSelectionType {
    margin: 0;
    background-color: white;
    color: black;
    padding: var(--xSmPadding) var(--smPadding);
    width: 100%;
    text-align: center;
    border-radius: var(--roundBorder);
}

body>div>#selectButtons>div>div>.playerSelected {
    filter: invert(1);
    border: var(--smBorder) solid var(--accentColor2);
}

body>div>#selectButtons>div>.playerSelectionType {}

body>div>#game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    gap: var(--smPadding);
    margin-top: var(--medPadding);
}

body>div>#game>.cell {
    height: clamp(7rem, -0.875rem + 8vw, 15rem);
    width: calc(100% - (2* var(--medBorder)));
    background-color: var(--accentColor2);
    border: var(--medBorder) solid var(--fontLight);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>div>#game>.row0 {
    border-left: var(--medBorder) solid transparent;
}

body>div>#game>.row2 {
    border-right: var(--medBorder) solid transparent;
}

body>div>#game>.col0 {
    border-top: var(--medBorder) solid transparent;
}

body>div>#game>.col2 {
    border-bottom: var(--medBorder) solid transparent;
}

body>div>#game>#infoPanel {
    grid-column: span 3;
    text-align: center;
    background-color: var(--accentColor5);
    border-radius: 0 0 var(--roundBorder) var(--roundBorder);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: var(--fontLight);
}

footer>* {
    margin: var(--medPadding) 0;

}